*{
  padding: 0;
  margin: 0;
}

/*Set Background*/
body{
  background-color: #b1f283;
}

/*Top Frame*/
header{
  background-color: #f2f2f2;
  height: 50px;
}

/*Title*/
header h1{
  font-family: "Baloo Bhaina 2", cursive;
  font-size: 2em;
  height: 50px;
  display: block;
  float: right;
}

/*Button*/

#hamburguer button{
  background: none;
  border: 0;
  padding: 0;
  width: 50px;
  height: 50px;
}

#hamburguer button span{
  display: block;
  border-radius: 10px;
  width: 60%;
  height: 2px;
  background: black;
  margin: 5px auto 5px auto;
  
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/*Animations*/

/*Open Animation*/
#hamburguer .open .top-line{
  animation-name: animation-top-line;
}

#hamburguer .open .middle-line{
  animation-name: animation-middle-line;
}

#hamburguer .open .bottom-line{
  animation-name: animation-bottom-line;
}

/*Close Animation*/
#hamburguer .top-line {
  animation-name: animation-top-line-close;
}

#hamburguer .middle-line {
  animation-name: animation-middle-line-close;
}

#hamburguer .bottom-line {
  animation-name: animation-bottom-line-close;
}

/*Config Close Animation*/
@keyframes animation-top-line{
   50%, 100%{
     margin: 0 auto 0 auto;
     transform: translateY(2px) rotate(-45deg);
   }
}
   
  @keyframes animation-bottom-line{
    50%, 100%{
      margin: 0 auto 0 auto;
      transform: translateY(-2px) rotate(45deg);
    }
  }
  
@keyframes animation-middle-line{
  
 50%, 100% {
   margin: 0;
   width: 0;
   opacity: 0;
 }
}
  
/*Config Open Animations*/
@keyframes animation-top-line-close{
  0%{
    margin: 0 auto 0 auto;
    transform: translateY(2px) rotate(-45deg);
  }
  
  50%, 100%{
    margin: 5px auto 5px auto;
    transform: translateY(0) rotate(0deg);
    }
}

@keyframes animation-bottom-line-close{

  0%{
    margin: 0 auto 0 auto;
    transform: translateY(-2px) rotate(45deg);
  }
  
  50%, 100%{
      margin: 5px auto 5px auto;
      transform: translateY(0) rotate(0deg);
    }
}

@keyframes animation-middle-line-close{
  0%{
    margin: 0;
    width: 0;
    opacity: 0;
  }
  
  20%, 100%{
  margin: 5px auto 5px auto;
  width: 60%;
  opacity: 1;
 }
}